<div class="row">
    <div class="col-12">
        <h3>Pets Available for Adoption</h3>
    </div>

    <table class="table table-striped" *ngIf="pets">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let p of pets" >
                <td>{{p.name}}</td>
                <td>{{p.petType}}</td>
                <td>
                    <div class="row">
                        <div class="col-6">
                            <button [routerLink]="['/pet/edit', p._id]">Edit</button>
                        </div>
                        <div class="col-6">
                            <button [routerLink]="['/pet', p._id]">Details</button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>