<div class="row">
    <div class="col-12">
        <h3>Know of a pet needing a home? </h3>
        <div *ngIf="bEError" >
            <div *ngFor="let e of bEError">
                <p>{{e.message}}</p>
            </div>
        </div>
        <form (submit)="createPet()" #fCreatePet="ngForm">
            <div class="row">
                <div class="col-7 form-group">
                    <label for="newPet.name">Name: </label>
                    <input
                        type="text"
                        [(ngModel)]="newPet.name"
                        name="newPet.name"
                        placeholder="..."
                        required
                        minlength="3"
                        #petName="ngModel"
                        >

                        <div *ngIf="petName.invalid && (petName.dirty || petName.touched)"
                            class="alert alert-danger">
                            <div *ngIf = "petName.errors?.required">
                                Name field can't be blank
                            </div>
                            <div *ngIf="petName.errors.minlength">
                                Name must be at least {{petName.errors.minlength.requiredLength}} characters long.
                            </div>
                        </div>

                </div>
                <div class="col-7 form-group">
                    <label for="newPet.desc">Pet Type: </label>
                    <input
                        type="text"
                        [(ngModel)]="newPet.petType"
                        name="newPet.petType"
                        placeholder="..."
                        required
                        minlength="3"
                        #petType="ngModel"
                        >
                        <div *ngIf="petType.invalid && (petType.dirty || petType.touched)"
                            class="alert alert-danger">
                            <div *ngIf = "petType.errors?.required">
                                Pet Type field can't be blank
                            </div>
                            <div *ngIf="petType.errors.minlength">
                                Pet Type must be at least {{petType.errors.minlength.requiredLength}} characters long.
                            </div>
                        </div>
                </div>
                <div class="col-7 form-group">
                    <label for="newPet.desc">Description: </label>
                    <input
                        type="text"
                        [(ngModel)]="newPet.desc"
                        name="newPet.desc"
                        placeholder="..."
                        required
                        minlength="3"
                        #petDesc="ngModel"
                        >
                        <div *ngIf="petDesc.invalid && (petDesc.dirty || petDesc.touched)"
                            class="alert alert-danger">
                            <div *ngIf = "petDesc.errors?.required">
                                Description field can't be blank
                            </div>
                            <div *ngIf="petDesc.errors.minlength">
                                Description must be at least {{petDesc.errors.minlength.requiredLength}} characters long.
                            </div>
                        </div>
                </div>
                <div class="col-7">
                    <h4>Skills: (Optional)</h4>
                </div>
                <div class="col-7 form-group">
                    <label for="newPet.skill1">Skill 1: </label>
                    <input
                        type="text"
                        [(ngModel)]="newPet.skill1"
                        name="newPet.skill1"
                        placeholder="..."
                        >
                </div>
                <div class="col-7 form-group">
                    <label for="newPet.skill2">Skill 2: </label>
                    <input
                        type="text"
                        [(ngModel)]="newPet.skill2"
                        name="newPet.skill2"
                        placeholder="..."
                        >
                </div>
                <div class="col-7 form-group">
                    <label for="newPet.skill3">Skill 3: </label>
                    <input
                        type="text"
                        [(ngModel)]="newPet.skill3"
                        name="newPet.skill3"
                        placeholder="..."
                        >
                </div>

            </div>

            <div class="row">
                <div class="col-6">
                    <button
                        type="submit"
                        class="btn btn-success"
                        > Create Pet </button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-3">
                <button
                    [routerLink]="['/pets']"
                    class="btn btn-warning"

                    > Cancel</button>
            </div>
        </div>
    </div>
</div>